<span>Title:</span>
{{input value=postAuthor}}
<span>Text:</span>
{{textarea value=postText cols="60" rows="6"}}
<button {{action "addPost"}}>Post</button>
<hr class="divider slim -margin-bottom--large">
<ul class="post--listing">
	{{#each posts as |post|}}
		<li>
			<h4>{{post.author}}</h4>
			<span>{{post.text}}</span>
		</li>
		<hr class="divider slim">
	{{/each}}
</ul>
